<% layout("/layouts/boilerplate") %>
<body>
    <h3>All Listings</h3>
    <form method="GET" action="/listings/new"><!--isse get req jayegi lis/new pe-->
        <button>Create New Listing  </button>
    </form>
    <ul>
        <!-- bcoz array of object input data -->
        <% for(listing of alllistings){ %>
            <li><a href="/listings/<%=listing._id%>"><%= listing.title %></a></li>
        <% } %>
    </ul>
</body>
